# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=your_service_account_email
FIREBASE_PRIVATE_KEY=your_service_account_private_key

# Database Configuration
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=caglla_db

# Google Places API
# https://console.cloud.google.com/apis/credentials?hl=ja&project=caglla-fb
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_places_api_key_here

# Google Maps Platform Map ID (for Advanced Markers)
# https://console.cloud.google.com/google/maps-apis/studio/maps/6d1d86ef84ec9c9071f1b459?hl=ja-JP&project=caglla-fb
NEXT_PUBLIC_GOOGLE_MAP_ID=your_google_maps_api_key_here

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000

#GOOGLE_CLIENT_ID=...
#GOOGLE_CLIENT_SECRET=...

# SendGrid __EMAIL Sending service
# https://app.sendgrid.com/guide
SENDGRID_API_KEY=SG.Samantha.aTsiGn.eXaMpLeDoTcOm_FY

# Unsplash API Configuration
NEXT_PUBLIC_UNSPLASH_APP_ID=123456
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=your_unsplash_access_key_here
UNSPLASH_SECRET_KEY=your_unsplash_secret_key_here
